[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WorldMapR"]
	path = WorldMapR
	url = https://github.com/luigi-annic/worldmapr
